<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet-mapping>
        <servlet-name>question11c</servlet-name>
        <url-pattern>/question11c</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>question1</servlet-name>
        <servlet-class>question1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>question11c</servlet-name>
        <servlet-class>question11c</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>question1</servlet-name>
        <url-pattern>/question1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question2</servlet-name>
        <servlet-class>question2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>question2</servlet-name>
        <url-pattern>/question2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question3</servlet-name>
        <servlet-class>question3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>question3</servlet-name>
        <url-pattern>/question3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question4a</servlet-name>
        <servlet-class>question4a</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>question4a</servlet-name>
        <url-pattern>/question4a</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question4b</servlet-name>
        <servlet-class>question4b</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieexample</servlet-name>
        <url-pattern>/question4b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>question10a</servlet-name>
        <url-pattern>/question10a</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question10a</servlet-name>
        <servlet-class>question10a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>question11a</servlet-name>
        <servlet-class>question11a</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>question11a</servlet-name>
        <url-pattern>/question11a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>question11b</servlet-name>
        <url-pattern>/question11b</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question11b</servlet-name>
        <servlet-class>question11b</servlet-class>
    </servlet>
</web-app>
